* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
  color: #ffffff;
}

.container {
  width: 1440px;
  margin: 0 auto;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: url(./background.jpg);
  background-size: cover;
}

.main {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 35px;
  width: 850px;
  height: 300px;
  border-radius: 5px;
  background: url(./mainbg.jpg);
  box-shadow: -2px 12px 12px 0px #00000040;
}

.time-div {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 221px;
  height: 235px;
  border-radius: 9px;
  background: #050505e5;
  box-shadow: 8px 9px 22px 1px #00000099;
}

h2 {
  font-size: 90px;
  font-weight: 400;
  line-height: 108.92px;
}

h3 {
  font-size: 19px;
  font-weight: 400;
  line-height: 22.99px;
}
